html, body {
  box-sizing: border-box;
  background-color: rgb(255,139,0);
  margin:0;

}
.header {
text-align: center;
color:white;
padding: 0;
background-position-x: center;
background-size: cover;
display: block;
width: 100%;
}
.header2 {
  text-align: center;
color:white;
padding: 200px;
background-position-x: center;
background-color:black;
background: url("./assets/shomal.jpeg");
background-repeat: no-repeat;
background-size: cover;
margin:0;
}
/* Nav bar */
.topnav a {
float: left;
display: block;
color: #df7219;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* nav on hover*/
.topnav a:hover {
  background-color: rgb(197, 149, 15);
  color: rgb(3, 2, 1);
}
/* 3 columns floating next ot each other*/
.column {
  width:33.33;
  padding: 15px;
  display: table-cell;
}
/*clear floats after the columns*/
.row {
  display:table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

/* responsive layout - makes the three column stack on top of each other*/
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* .footer {
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
}*/ 
.learn{
  /* background-color: #df7219; */
  padding:100px;
  text-align: left;
}
#lingo{
  background-color: blanchedalmond;
}