html, body {
  box-sizing: border-box;
  background-color: rgb(255,139,0);

}
body {
  margin:0;
}

.header {
text-align: center;
color:white;
padding: 0;
background-position-x: center;
background-size: cover;
display: block;
width: 100%;
}

.header2 {
text-align: center;
color:white;
padding: 200px;
background-position-x: center;
background: url("./assets/shomal.jpeg");
background-repeat: no-repeat;
background-size: cover;
margin:0;
}
/* Nav bar */
.topnav a {
float: left;
display: block;
color: #df7219;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


/* 3 columns floating next ot each other*/
.column {
  width:33.33;
  padding: 15px;
  display: table-cell;
}
/*clear floats after the columns*/
.row {
  display:table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}
.form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  bottom: 20px;
  
}
.form-field {
  width: 100%;
}
.flip-card {
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  margin: 0;
  padding: 0;
  background-color: transparent;
  perspective: 1000pz;
}
.flip-card-inner {
  position:relative;
  width: 100%;
  height: 100%;
  text-align: center; 
  transition: transform 0.8s ;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg)
}
