html, body {
background-color: #f7f7f7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e8a217' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23940c0c' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b8960b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23811609' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238d860f' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%236f1b07' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23677517' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235d1c06' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2347631d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%234d1c06' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232c4f1f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%233d1a07' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
overflow-x: none;

}

a {
  text-decoration: none;
}

body {
  margin:0;
}

.header {
text-align: center;
color:white;
padding: 0;
background-position-x: center;
background-size: cover;
display: block;
width: 100%;
}

.header2 {
text-align: center;
color:white;
padding: 200px;
background-position-x: center;
background: url("./assets/shomal.jpeg");
background-repeat: no-repeat;
background-size: cover;
margin:0;
}
/* Nav bar */
.topnav a {
float: left;
display: block;
color: #df7219;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.column {
  font-size: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*clear floats after the columns*/
.row {
  display:table;
  width: 100%;
  border-spacing: 250px;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  bottom: 20px;
  
}
.form-field {
  width: 100%;
}
.flip-card {
  width:200px;
  height: 80px;
  background-color: transparent;
  perspective: 1000pz;
}
.flip-card-inner {
  position:relative;
  width: 100%;
  height: 100%; 
  transition: transform .6s ;
  transform-style: preserve-3d;
  text-align: center;
  display: inline-block;
}
.flip-card:hover  .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-back {
  background-color:rgb(0 ,160, 205);
  transform: rotateY(180deg);
  
}
